/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');






/* common and utilize */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #AAAAAA;
}







/* heading */
.heading-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 120px;
}

.page-title h2 {
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
}

nav {
    display: flex;
    align-content: center;
}

nav a {
    text-decoration: none;
}

nav h3 {
    color: #3A3A3A;
    margin-left: 25px;
}








/* Start your Journey as 
Influencer */

.start-container {
    display: flex;
    padding: 120px;
}

.start-container>article {
    width: 50%;
}

.start-container>article>h1 {
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;


}

.start-container>article>p {
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
}

.Preebook-button {
    color: white;
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    border-radius: 41px;
    padding: 10px 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preebook-image img {
    margin-left: 65px;
    width: 440px;
}









/* enterprenuer logo */
hr {
    color: #C0CCDA;
    margin: 0 165px;
}

.logos {
    display: flex;
    justify-content: space-between;
    padding: 36px 165px;
}









/* popular collection */
.popular-collections>p {
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
    margin-top: 100px;
    display: flex;
    justify-content: center;

}

.collections {
    padding: 0 157px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.collection-details {
    padding: 14px;
    background-color: #FFFFFF;

}

.collection-details img {
    width: 300px;
    border-radius: 5px;
}

.collection-name {
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 6px;
}

.price {
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}

.fa-star,
.fa-star-half-stroke {
    font-size: 16px;
    color: #FB8200;
}

.rating {
    font-size: 14px;
    color: #5E6366;
}

.product-details h5 {
    margin: 0;
    color: #787885;
}

.see-more {
    margin-top: 50px;
    padding: 0 197px;
    font-weight: 700;
    font-size: 16px;
    color: rgba(224, 44, 109, 0.87);
    display: flex;
    align-content: center;
    justify-content: end;

}








/* featured products */
.featured-products {
    padding: 0 165px;
    display: flex;
    margin-top: 100px;

}

.featured-products img {
    width: 404px;
    height: 270px;
    border-radius: 7px;

}

.featured-details {
    margin-left: 96px;
}

.product-title {
    margin: 0px;
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;
}

.product-details {
    font-weight: 700;
    font-size: 16px;
    color: #6C6C6C;
}

.join-button {
    width: 155px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #E02C6D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.material-symbols-outlined {
    margin-left: 8px;
}










/* footer */
footer {
    color: #FFFFFF;
    background-color: #0A0826;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-container {
    margin: 50px 0;
}

.footer-container h3 {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

.footer-container h5 {
    font-weight: 700;
    font-size: 14px;
    color: #D9DBE1;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3px;
    margin: 3px;
}

.fa-copyright {
    align-self: center;
    margin: 0 5px;
}

.footer-container p {
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    margin: 17px 0 0 0;
}













/* media query for mobile*/
@media all and (max-width: 500px) {}